<div class="parties">
  <div class="parties-header">
    <form id="new-party-form">
      <input
        type="text"
        placeholder="Nouvelle partie..."
        id="new-party-input"
      />
      <button id="new-party-button" type="submit">Ajouter</button>
    </form>
  </div>
  <div class="parties-content">
    <div class="parties-content-title">Les parties</div>
    <div class="parties-content-number"><%= parties.count %></div>
    <div class="parties-list">
      <% parties.list.forEach(function (party) { %>
      <div class="party-item" id="<%= party.id %>">
        <% if (party.terminated) { %>
        <input
          class="end-cb"
          type="checkbox"
          id="<%= party.id %>"
          name="<%= party.id %>"
          value="<%= party.id %>"
          checked
          disabled
        />
        <% } else { %>
        <input
          class="end-cb"
          type="checkbox"
          id="<%= party.id %>"
          name="<%= party.id %>"
          value="<%= party.id %>"
        />
        <% } %>
        <label for="<%= party.id %>"> <%= party.name %> </label>
        &emsp;
        <span class="delete-btn" itemid="<%= party.id %>">X</span><br />
      </div>
      <% }) %>
    </div>
  </div>
</div>
